.characterCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  height: 420px;
  overflow: hidden;
  margin: 10px auto;
  box-shadow: inset 0 0 15px #7a5b04;
  border-radius: 15px;

  & .carouselItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & figure {
      padding: 1%;
      & img {
        max-width: 170px;
        height: auto;
    
      }
    }

    input[type='checkbox'] {
      margin-top: 1rem;
    }
}



  }




.carouselControls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .carouselButton {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 0.5rem;

    .goldButton {
      display: inline-block;
      padding: 0.5rem 1rem;
      background: linear-gradient(to bottom, #ffd700, #daa520);
      color: white;
      border-radius: 0.25rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;

      &:hover {
        background: linear-gradient(to bottom, #daa520, #ffd700);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }
}